# Python
__pycache__/
*.pyc
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Virtualenvs
venv/
.venv/
env/

# Editors / IDE
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Build / distribution
dist/
build/
*.spec
BlobVoiceObserver.zip

# Runtime / local config
config.json
models/
vosk-model-small-en-us-0.15/
model.zip
